*{
    font-family: 'Roboto', sans-serif;
}

ol {
    text-align: left;
}

body {
    background: lightgray
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding-bottom: 20px;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
}

img {
    height: 200px;
    border-radius: 15px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
    background-color: orangered;
}

a {
    color: green
    transition: background-color 1.5s;
}

a:link, a:visited {
    background-color: orangered;
    color: white;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: white;
}


.grid-temp {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-gap: 5px;
    justify-content: center;
}

.star-rating {
    color: brown;
    text-align: center;
}

h1 {
    color: green;
}
